    <!DOCTYPE html>
   
    <html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title></title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="">
            
        </head>
        <body>
           <form method = "POST" action = "/login">
                <div class = "options">
                    <label style="margin-top: 30px;">
                        <input type="text" class="form-control w-100" name="name" placeholder="Enter your name" value="" required>
                    </label><br><br>
                    <label style="margin-top: 30px;">
                        <input type="text" class="form-control w-100" name="age" placeholder="Enter your age" value="" required>
                    </label><br><br>
                    <label style="margin-top: 30px;">
                        <input type="text" class="form-control w-100" name="city" placeholder="Enter your city" value="" required>
                    </label><br><br>
                </div>
            <div style="text-align:center;">
                <button type = "submit" id ="submit">SUBMIT</button>
            
            </div>
            <a href = "/"   >home</a>
        </form>
    </body>
</html>

    