<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>user page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> user name : {{user.name}}</h1><br>
        <h1> user age  : {{user.age}}</h1><br>
        <h1> user city : {{user.city}}</h1><br>
        <a href = "/logout"   >logout</a> 
        
    </body>
</html>